@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Inter&display=swap');

:root {
  --cor-texto: #151718;
  --cor-texto-claro: #2C2E2F;
  --cor-rosa: #DB2777;
  --cor-branco: #FFFFFF;

  --fonte-primaria: 'Cinzel', serif;
  --fonte-secundaria: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principal {
  text-align: center;
  padding-top: 12.5rem;
  background: url(https://i.ibb.co/YjFWmWv/background-image.png) no-repeat center/cover;
  height: 100vh;
  font-family: var(--fonte-primaria);
}

.principal__titulo {
  color: var(--cor-texto);
  font-size: 64px;
  font-weight: 700;
  line-height: 86px;
}

span {
  color: var(--cor-rosa);
}

.principal__texto {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--cor-texto-claro);
  opacity: 0.9;
  margin-bottom: 4.5rem;
}

.primeiro__link,
.segundo__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--cor-texto);
  text-decoration: none;
  padding: 1rem 2rem;
}

.primeiro__link:hover,
.segundo__link {
  color: var(--cor-branco);
  border-radius: 5rem;
  background-color: var(--cor-rosa);
}


/* RESPONSIVIDADE */
@media screen and (max-width: 720px) {
  .principal__titulo {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 520px) {
  .principal__texto {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 472px) {
  .primeiro__link,
  .segundo__link {
    font-size: 18px;
    padding: 1rem 1rem;
  }
}